.color-title{
    font-weight: normal;
}
.color-title#red{
    color: red;
}
.color-title#blue{
    color: blue;
}
.color-title#orange{
    color: orange;
}
.color-title#green{
    color: green;
}
.color-title#yellow{
    color: yellow;
}
img{
    height: 200px;
    width: 200px;
}